header {
    position: absolute;
    top: 0;
    width: 100%;
    max-width: 1250px;
}

header .container .burger-menu span {
    display: none;
}

header .container {
    display: flex;
    gap: 15%;
    padding-top: 70px;
}

.logo {
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-decoration: none;
    font-weight: bold;
}

header a {
    text-decoration: none;
    color: #ffffff;
    letter-spacing: 1.5px;
    font-size: 0.7em;
    width: max-content;
}

header .container nav ul {
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    list-style-type: none;
    gap: 25px;
}

@media only screen and (max-width: 768px) {
    header .container {
        width: 90%;
        justify-content: space-between;
    }

    header .container nav {
        display: none;
    }

    header .container .burger-menu span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        background: #cdcdcd;
        border-radius: 3px;
    }
}