/* learn more */

.learn-more {
    background: linear-gradient(rgba(140, 79, 42, .2), rgba(140, 79, 42, .3)), url("../assets/learn-more.png");
    background-repeat: no-repeat;
    background-position: 50%;
    width: auto;
    height: 650px;
    padding: 3em;
    background-size: cover;
}

.learn-more .container {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.learn-more .container h2 {
    color: #ffffff;
    font-size: 2.5em;
}

.learn-more .container button {
    background-color: #55C2D8;
    color: #ffffff;
    padding: 30px;
    border-radius: 50%;
    font-size: 2.5em;
    border-color: transparent;
    transition: all 0.5s;
}

.learn-more .container button:hover {
    background-color: #ffffff;
    color: #55C2D8;
    transition: all 0.5s;
}

.learn-more .container h3 {
    color: #ffffff;
}